# one Hot encoding  - variables with many categories

In [16]:
import numpy as np
import pandas as pd
import os

In [17]:
file = pd.read_csv("C:\\Users\\Lenovo\\Documents\\py\\feature engineering\\mercedesbenz.csv",usecols = ['X1','X2','X3','X4','X5','X6'])
file

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [31]:
# checking the unique values in the given dataset.
for i in file.columns:
    print(i, ": ",len(file[i].unique()),"values")

X1 :  27 values
X2 :  44 values
X3 :  7 values
X4 :  4 values
X5 :  29 values
X6 :  12 values

# conversion of categorical data into integer type values using one hot encoding the variable

In [34]:
# how many columns we will obtain after one hot encoding variables.

pd.get_dummies(file,drop_first=True).shape

(4209, 117)

In [39]:
# Now let's find the top 10 most frequent categories in the X2 column of the dataset.

file.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [46]:
# making list with top 10 most frequent categories of the variable.

top_10 = [x for x in file.X2.value_counts().sort_values(ascending = False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [49]:
# labeling the following top 10 most frequent categories with "1" and "0" or making them into binary values
# here if the variable present in the top 10 will be numbered as "1" otherwise "0" .

for label in top_10:
    file[label] = np.where(file['X2'] == label ,1 ,0)
file[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [64]:
# creating a function for one hot encoding.

def one_hot_en(df,variable,label):
    for i in label :
        df[variable+'_'+i] = np.where(file[variable]==i, 1,0)
        
        
def top_10(df):
    top_10 = for x in fil

data = pd.read_csv("C:\\Users\\Lenovo\\Documents\\py\\feature engineering\\mercedesbenz.csv",usecols = ['X1','X2','X3','X4','X5','X6'])
one_hot_en(data,'X2',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [77]:
# finding the top 10 most frequent category of the variable X1

top_1 = [x for x in file.X1.value_counts().sort_values(ascending = False).head(10).index]
one_hot_en(file,'X1',top_1)
file.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X1_y,X1_f,X1_j,X1_n,X1_k,X1_p,X1_g,X1_d,X1_q,X1_ab
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
top_10 = [x for x in file.X1.value_counts().sort_values(ascending = False).head(10).index]
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [79]:
file.X1.value_counts().sort_values(ascending = False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [83]:
top_01 = [x for x in file.X1.value_counts().sort_values(ascending = False).head(10).index]
print(top_01)

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [88]:
for labels in top_01:
    file[labels] = np.where(file['X1'] ==labels,1,0)
file.head(10)

  X1  X2 X3 X4 X5 X6  as  ae  ai  m  ...  X1_q  X1_ab  aa  b  l  v  i  a  c  o
0  v  at  a  d  u  j   0   0   0  0  ...     0      0   0  0  0  1  0  0  0  0
1  t  av  e  d  y  l   0   0   0  0  ...     0      0   0  0  0  0  0  0  0  0
2  w   n  c  d  x  j   0   0   0  0  ...     0      0   0  0  0  0  0  0  0  0
3  t   n  f  d  x  l   0   0   0  0  ...     0      0   0  0  0  0  0  0  0  0
4  v   n  f  d  h  d   0   0   0  0  ...     0      0   0  0  0  1  0  0  0  0
5  b   e  c  d  g  h   0   0   0  0  ...     0      0   0  1  0  0  0  0  0  0
6  r   e  f  d  f  h   0   0   0  0  ...     0      0   0  0  0  0  0  0  0  0
7  l  as  f  d  f  j   1   0   0  0  ...     0      0   0  0  1  0  0  0  0  0
8  s  as  e  d  f  i   1   0   0  0  ...     0      0   0  0  0  0  0  0  0  0
9  b  aq  c  d  f  a   0   0   0  0  ...     0      0   0  1  0  0  0  0  0  0

[10 rows x 51 columns]